.main-footer{
    color: #2F80ED;
    font-size: 20px;
    font-family: Inter;
    font-weight: 700;
    /* text-decoration: underline; */
    
}
.footer-content {
    padding: 20px; 
  }
  
  .footer-title {
    font-size: 1.2rem; 
    margin-bottom: 10px; 
    font-weight: 500;
  }
 
  